{% extends "layout.html" %}
{% block title %}
blog service
{% endblock %}

{% block content %}
<div class="card">
  <div class="card-header">
    <h4 class="display-4 font-weight-bold">To Do List</h4>
  </div>
  <ul class="list-group list-group-flush">
    {% for blog in posts %}
    <li class="list-group-item">
        <h5 class="display-5 font-weight-bold">{{blog.title}}</h5>
        <br>
        {{blog.summary}}<a href="{% url 'detail' blog.id %}"> ...more</a>
        <br>
        {{blog.pub_date}}
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link active font-weight-bold" href="#">Doing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link font-weight-bold" href="#">Done</a>
            </li>
        </ul>
    </li>
    {% endfor%}
</div>
<center>
<div class="container">
{#First Previous#}
{% if posts.has_previous %}
<a href="?page=1">First</a>
<a href="?page={{posts.previous_page_number}}">Previous</a>
{% else %}
<span>First</span>
<span>Previous</span>
{% endif %}

<span>{{posts.number}}</span>
<span>of</span>
<span>{{posts.paginator.num_pages}}</span>

{% if posts.has_next %}
<a href="?page={{posts.next_page_number}}">Next</a>
<a href="?page={{posts.paginator.num_pages}}">Last</a>
{% else %}
<span>Next</span>
<span>Last</span>
{% endif %}
</center>
</div>

{% endblock %}